<div class="card">
  <section class="image">
  </section>
  <section class="meta-info">
    <shimmer [type]="'line'" [rounded]="true" [height]="'20px'"></shimmer>
    <shimmer [type]="'line'" [width]="'130px'" [rounded]="true"></shimmer>
    <div class="rating-bar">
      <ngx-star-rating [filledColor]="'#FFDD03'" [readonly]="true" [rating]="rating"></ngx-star-rating>
    </div>
    <p>What did you like the most?</p>
    <div class="chips-list">
      <span>
        <shimmer [type]="'line'" [rounded]="true" [height]="'20px'"></shimmer>
      </span>
      <span>
        <shimmer [type]="'line'" [rounded]="true" [height]="'20px'"></shimmer>
      </span>
      <span>
        <shimmer [type]="'line'" [rounded]="true" [height]="'20px'"></shimmer>
      </span>
    </div>
  </section>
</div>
