<div class="card">
  <section class="card-header">
    <h3>Rate Your Interaction</h3>
    <p>How did it go?. Please let us know,
      so that we can serve you better.</p>
  </section>
  <section class="card-content">
    <div class="meta-info">
      <shimmer [type]="'circle'" [width]="'180px'"></shimmer>
      <shimmer [type]="'line'" [width]="'180px'" [height]="'18px'" [rounded]="true"></shimmer>
      <shimmer [type]="'line'" [width]="'120px'" [rounded]="true"></shimmer>
    </div>
    <div class="rating">
      <ngx-star-rating [type]="'filled'"></ngx-star-rating>
    </div>
  </section>
  <section class="card-footer">
    <button>Submit</button>
  </section>
</div>
